
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form asp-page="post">
	Id:<br>
	<input type="text" name="id" value="Mickey">
	Name:<br>
	<input type="text" name="name" value="Mickey">
	LastName:<br>
	<input type="text" name="lastname" value="Mickey">
	Solary:<br>
	<input type="text" name="solary" value="Mickey">
	<br><br>
	<input type="submit" value="Submit">
</form>
